@keyframes AnimationContainerFlash
{
    50%  { background-color: white; }
}

@keyframes AnimationContainerMoveIn
{
    from { right: -23rem; }
    to   { right:  22rem; }
}

.animationTestElementContainer
{
    border:           solid transparent;
    border-radius:    2rem;
    position:         fixed;
    transition:       250ms;
    background-color: #0f0f0f;
    width:            100%;
    padding:          0.4rem;
    user-select:      none;
}

.animationTestElement1
{
    width:      22rem;
    height:      6rem;
    bottom:      2rem;
    right:     -23rem;
    animation: AnimationContainerMoveIn 250ms ease-in 1 forwards;
}

.animationTestElement2
{
    width:      22rem;
    height:      6rem;
    bottom:     12rem;
    right:     -23rem;
    animation: AnimationContainerMoveIn 250ms ease-in 1 forwards 1s,
               AnimationContainerFlash  250ms linear  3 forwards 1750ms;
}
