@keyframes LoadingAnimationSpin
{
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}

@keyframes LoadingTextSequence
{
      0% { content: "Loading .  "; }
     25% { content: "Loading  . "; }
     50% { content: "Loading   ."; }
     75% { content: "Loading  . "; }
    100% { content: "Loading .  "; }
}

.loadingAnimation
{
    vertical-align: middle;
    width:          3rem;
    animation:      LoadingAnimationSpin 250ms linear 0s infinite;
}

.loadingContainer
{
    border-top-left-radius:    1rem;
    border-bottom-left-radius: 1rem;
    background-color:          #0f0f0f;
    width:                     100%;
    padding:                   0.4rem;
    user-select:               none;
}

.loadingText
{
    color:       white;
    display:     inline-block;
    text-align:  center;
    white-space: pre-wrap;
    width:       16rem;
}

.loadingText::before
{
    content:   "";
    animation: LoadingTextSequence 500ms linear 0s infinite;
}

.loadingBar
{
    border-radius:     7px;
    width:             98%;
}

.loadingBar::-webkit-progress-bar
{
    background-color: #070707;
    border-radius:    1rem;
}

progress::-webkit-progress-value
{
    background-color: #ff6a00;
    border-radius:    1rem;
    transition:       500ms ease;
}
