# Build caches
*build*/

# IDE and tool storage
.cache

.idea
.vs
.vscode

# Third party resources
/ThirdParty

# OS garbage
.DS_Store
desktop.ini
thumbs.db

# Exclusions
!BuildContent
!BuildScripts
!.github/workflows/build.yml

# Too large for git
**/PrivateContent

# Cell data
*.cel
