# Build caches
*build*/
**/target/

# IDE and tool storage
.cache
.codechecker
.idea
.vs
.vscode

# Third party resources
/ThirdParty

# OS data
.DS_Store
desktop.ini
thumbs.db
*.app

# Exclusions
!BuildContent
!BuildScripts
!.github/workflows/build.yml

# Too large for git
**/PrivateContent

# Cell data
*.cel
