@font-face
{
    font-family: "Noto Sans";
    src:         url("/Content/MainFont.ttf");
}

body
{
    color:            white;
    background-color: #0a0a0a;
    font-family:      "Noto Sans";
}

button
{
    font-family:      "Noto Sans";
    font-size:        2rem;
    border:           solid 10px transparent;
    border-radius:    1rem;
    background-color: transparent;
    color:            white;
    transition:       50ms;
    user-select:      none;
}

button:hover
{
    outline: none;
    background-color: #ff6a00;
}

button:active
{
    background-color: #aa1a00;
}

/* Custom elements */

.centeredElement
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
